<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>
  <div class="row" style="height: 45px;">
    <ul class="breadcrumb">
      <li style="color: black;">You are here:</li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <img src="/img/ottawa-canal-night.jpg" alt="DATTA TECH" class="about-mainimg" id="showMe">
    </div>
    <div class="row slide-right" style="padding-top: 60px;" id="whoDiv">
      <h2 style="color: #8c4b4a; text-align: center;"> <b>Who We Are</b></h2>
    </div>
    <div class="row" id="showMe">
      <h3 class="about-text"
        style="text-align: center; padding-right: 200px; padding-left: 200px; text-align: justify;">We are in business
        providing professional Managed IT services worldwide. We like spreading the benefits of MSP to everybody who
        needs it in some form or the other. Relentless focus on quality everytime. <br><br>
        Team of professionals passionate about building products that people love, on time every time hence saving
        your time and promoting your growth. Agile processes that enable us to create applications quickly with
        fewer professionals. Delivering mission critical solutions on rapid timelines. </h3>
    </div>

    <div class="row">
      <div class="row slide-left" id="valueDiv">
        <h2 style="text-align: center; margin-bottom: 35px; padding-top: 80px;"> <b style="color: #8c4b4a;">Our
            Values</b></h2>
      </div>
      <div class="row" id="showMe">
        <h4 style="text-align: center; margin-bottom: 35px; padding-left: 200px; padding-right: 200px;">
          <b>Datta Tech has 5 values that govern all relationships among employees, customers,
            suppliers and partners. Values conveyed and reinforced on a daily basis.</b></h4>
      </div>
      <div class="row shake">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
          <i class="fas fa-trophy fa-5x" style="color:#8c4b4a"></i><br><br>
          <p>Performance</p>
        </div>
        <div class="col-sm-2">
          <i class="fas fa-heart fa-5x" style="color:#8c4b4a"></i><br><br>
          <p>DEDICATION</p>
        </div>
        <div class="col-sm-2">
          <i class="fas fa-thumbs-up fa-5x" style="color:#8c4b4a"></i><br><br>
          <p>RESPECT</p>
        </div>
        <div class="col-sm-2">
          <i class="fas fa-users fa-5x" style="color:#8c4b4a"></i><br><br>
          <p>TEAM WORK</p>
        </div>
        <div class="col-sm-2">
          <i class="fas fa-smile fa-5x" style="color:#8c4b4a"></i><br><br>
          <p>FUN</p>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <p class="flip-text">DATTA Tech Consulting Provides Managed IT Services, VoIP services, and Technology
            Consulting for businesses in Canada,
            United States, India, Singapore, Malaysia and Sri Lanka, Caribbean and across Globe. Whether it's extra
            security for your
            wired and wireless networks, compliance support for today’s stringent regulatory mandates, or you want to
            gain the benefits
            of Systems Virtualization – DATTA Tech provides this and more for an affordable price.</p>

        </div>
        <div class="flip-card-back">
          <h2 style="padding-top: 30px;">A Life with DATTA Tech Consulting</h2>
          <li style="padding:10px; font-size: 30px;">Adaptation </li>
          <li style="padding:10px; font-size: 30px;">Evolution</li>
          <li style="padding:10px; font-size: 30px;">Innovation</li>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 60px;" id="descDiv">
      <h2 style="text-align: center; color: #8c4b4a;"> <b>We Make IT Look Easy </b></h2>
      <h3 class="about-text" style="padding-left: 50px; padding-right: 50px;">The job of the technology professional is
        hard. Technology is pervasive, complex and always changing. End users can be
        demanding, and businesses need constant access to an ever-expanding ecosystem of applications and
        infrastructure.
        The expectations for IT performance and availability are high, and the responsibility to deliver on those
        expectations rests
        squarely on the shoulders of today’s technology professionals.<br><br>
        For 5 years, we have been committed to the technology professionals we serve and to understanding their
        challenges and
        how they want them addressed.<br><br>
        We are a leading provider of powerful and affordable IT infrastructure management software. Our products give
        organizations worldwide, regardless of type, size or IT infrastructure complexity, the power to monitor and
        manage the
        performance of their IT environments, whether on-premises, in the cloud, or in hybrid models.<br><br>
        Simply put, we work to:<br><br>
        <b>Understand IT:</b>
        &nbsp;Our business is built around helping technology professionals—IT operations professionals, DevOps
        professionals and
        managed service providers (MSPs)—solve today’s IT challenges. Our relationship and engagement with them gives us
        insight and understanding we rely upon to deliver products designed to solve IT management problems the way
        technology professionals want them solved.<br><br>
        <b>For IT:</b>
        &nbsp;We build products designed to manage the simplest to the most complex IT environments, no matter the size
        of
        organization. Our products are both powerful and affordable and address well-understood problems in IT
        management.
        Our products are built to be powerful, extensible and scalable enough to address the complex and evolving needs
        of
        organizations of all sizes.<br><br>
        <b>IT Simple:</b>
        &nbsp;We strive to take complexity out of IT, regardless of how an organization manages its IT infrastructure,
        where it is
        physically located or from where it is managed. We design products to deliver value quickly and empower
        technology professionals to do their jobs more effectively and efficiently.</h3>
    </div>

    <div class="row slide-left" style="padding-top: 40px; display: none;" id="teamDiv">
      <h2 style="text-align: center; color: #8c4b4a;"> <b>Our Team</b></h2>
      <div class="row" style="padding-left: 15px; margin-right: 10px; ">
        <div class="col-xs-3" style="padding: 35px;">
          <div class="card">
            <img src="/img/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container-card">
              <h3><b>Nagantharan Naidu</b></h3>
              <p>Chief Operating Officer</p>
              <div class="row" style="padding: 16px;">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fas fa-envelope"></i></a>
              </div>
              <p style="font-size: 14px;">Nagen.Naidu@dattatechconsulting.com </p>
            </div>
          </div>
        </div>
        <div class="col-xs-3" style="padding: 35px;">
          <div class="card">
            <img src="/img/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container-card">
              <h3><b>Suren Thambirajah</b></h3>
              <p>Director MSP, CoRe IT</p>
              <div class="row" style="padding: 16px;">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fas fa-envelope"></i></a>
              </div>
              <p style="font-size: 14px;">suren@dattatechconsulting.com</p>
            </div>
          </div>
        </div>
        <div class="col-xs-3" style="padding: 35px;">
          <div class="card">
            <img src="/img/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container-card">
              <h3><b>Hemnaad Chinnuraj</b></h3>
              <p>Senior IT Engineer</p>
              <div class="row" style="padding: 16px;">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fas fa-envelope"></i></a>
              </div>
              <p style="font-size: 14px;">hem@dattatechconsulting.com</p>
            </div>
          </div>
        </div>
        <div class="col-xs-3" style=" padding: 35px;">
          <div class="card">
            <img src="/img/img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container-card">
              <h3><b>Sambhav Sharma</b></h3>
              <p>IT Analyst</p>
              <div class="row" style="padding: 16px;">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fas fa-envelope"></i></a>
              </div>
              <p style="font-size: 14px;">Sambhav.sharma@dattatechconsulting.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding: 30px; background-color: white; padding-bottom: 100px;">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8" style="padding-top: 40px;">
        <div class="row">
          <h2 style="float: left; color: #8c4b4a;"> Careers</h2>
        </div>
        <div class="row">
          <div class="col-xs-9">
            <h3 class="about-text">
              The gang here at Data Tech are hard-working,
              fun-loving people who are passionate about helping people succeed. Want to join us?</h3>
          </div>
          <div class="col-xs-3" style="padding: 18px;">
            <button style="padding: 15px; text-align: center; background-color: #8c4b4a;"> <a href="/jobs" style="color: white;"> Join Our
              team </a></button>
          </div>
        </div>
      </div>
    <div class="col-xs-2">
    </div>
  </div>
  </div>



</body>
<% include partials/footer %>
<% include partials/script %>

</html>

<script>
  var waypoint = new Waypoint({
  element: document.getElementById('descDiv'),
  handler: function(direction) {
    document.getElementById('teamDiv').style.display='block';
  }
})
</script>