<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>

  <div class="row" style="height: 45px;">
    <ul class="breadcrumb">
      <li style="color: black;">You are here:</li>
      <li><a href="#">Home</a></li>
    </ul>
  </div>

  <div class="container-fluid bg-3 text-center">
    <div class="row" style="margin-right: 0px;">
      <div class="row mySlides" style="background-image: url(/img/toronto.jpg);height: 650px; background-size: cover;">
        <div id="showMe">
        <h2 style="text-align: center; margin-top: 100px; color: #d8d8d8;">“Managed Service Provider"</h2>
        <h2 style="text-align: center;color: #d8d8d8;">"Responsiveness Reliability and Accountability”</h2>
        <p class="intro-text" style="padding-top: 200px;">Power your business growth through IT</p>
        <p class="intro-text">Use Business Grade-Technology and services to support your business Now and into the
          Future</p>
          </div>
      </div>
      <div class="row mySlides" style="background-image: url(/img/toronto2.jpg);height: 650px; background-size: cover;">
        <div id="showMee">
        <h2  style="text-align: center; margin-top: 100px; color: #d8d8d8;">“222222"</h2>
        <h2 style="text-align: center;color: #d8d8d8;">"2222222”</h2>
        <p class="intro-text" style="padding-top: 200px;">2222222</p>
        <p class="intro-text">2222222</p>
        </div>
      </div>
      <div class="row mySlides" style="background-image: url(/img/toronto.jpg);height: 650px; background-size: cover;">
        <div id="showMe">
        <h2 style="text-align: center; margin-top: 100px; color: #d8d8d8;">“333333"</h2>
        <h2 style="text-align: center;color: #d8d8d8;">"333333”</h2>
        <p class="intro-text" style="padding-top: 200px;">333333</p>
        <p class="intro-text">3333333</p>
      </div>
      </div>
      <div class="row mySlides" style="background-image: url(/img/toronto2.jpg);height: 650px; background-size: cover;">
        <div id="showMee">
        <h2 style="text-align: center; margin-top: 100px; color: #d8d8d8;">“444444"</h2>
        <h2 style="text-align: center;color: #d8d8d8;">"R44444”</h2>
        <p class="intro-text" style="padding-top: 200px;">44444444</p>
        <p class="intro-text">44444444</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-right: 0px;" id="showMe">
    <h2 style="text-align: center; padding-top: 40px; color: #8c3232;">Offload your IT burden on us, so you can keep
      focused on what you do best.</h2>
    <p class="main-page-text">Is your technology creating distracting problems and unpredictable costs?
      Are you worried about the level of security covering your most essential assets? With a Managed IT
      Services plan from Datta Tech Consulting, all of your IT needs are met for a predictable and affordable
      fee. This bundled services not only eases your tech burden and budget, it incentivizes a proactive
      approach to IT support on our part, so you never experience problem technology in the first place.<br><br>
      We monitor your network around the clock, patching vulnerabilities before security breaches occur and
      ensuring near-zero computer downtown. When your IT infrastructure is running at peak performance, you’ll
      experience increased productivity and the peace of mind that comes with knowing you’re always protected by
      end-to-end encryption and next-generation firewalls. Gain the confidence of having a dedicated team of IT
      professionals at your beck and call. </p>
  </div>

  <div class="row" style="padding-top: 40px; padding-bottom: 40px; display: none;" id="servicesDiv">
    <div class="row slide-right">
      <h2 style="text-align: center; margin-bottom: 35px;;"> <b>The Services we are providing</b></h2>
    </div>
    <div class="row it-row">
      <div class="col-sm-2">
        <i class="fas fa-network-wired fa-5x" style="color:#8c4b4a"></i><br><br>
        <p>NETWORK MANAGEMENT</p>
      </div>
      <div class="col-sm-2">
        <i class="fas fa-desktop fa-5x" style="color:#8c4b4a"></i><br><br>
        <p>SYSTEMS MANAGEMENT</p>
      </div>
      <div class="col-sm-2">
        <i class="fas fa-shield-alt fa-5x" style="color:#8c4b4a"></i><br><br>
        <p>IT SECURITY</p>
      </div>
      <div class="col-sm-2">
        <i class="fas fa-database fa-5x" style="color:#8c4b4a"></i><br><br>
        <p>DATABASE MANAGEMENT</p>
      </div>
      <div class="col-sm-2">
        <i class="fas fa-headset fa-5x" style="color:#8c4b4a"></i><br><br>
        <p>IT HELP DESK</p>
      </div>
      <div class="col-sm-2">
        <i class="fas fa-tasks fa-5x" style="color:#8c4b4a"></i><br><br>
        <p>APPLICATION MANAGEMENT</p>
      </div>
    </div>
  </div>

  <div class="row" style=" background-color: #8c4b4a; padding: 40px; margin-left: 0px; margin-right: 0px;" id='testiDiv'>
    <div class="col-sm-6" style="padding: 20px; padding-right: 40px;">
      <div class="row" id="testioneDiv">
        <h2 class="home-heading" style="color: white;">Let us help you today!</h2>
      </div>
      <hr>
      <div class="row">
        <div class="row">
          <p style="font-size: 20px; text-align: left; color: black;">Maybe you’re concerned with the current
            rising costs of your IT services, or maybe you are just running short on time
            because of your expanding business and need to hand over the reins of some services
            to someone else. Whatever your reason, we can help you with quality IT services today.
          </p>
        </div>
        <div class="row">
          <h4><b style="float: left; color: black;">Start using your time wisely:</b></h4>
          <p style="font-size: 15px; text-align: left; color: black;"> &nbsp; With the basics of your company
            all under control, you can focus on more profitable ventures for your company.</p>
        </div>
        <div class="row">
          <h4> <b style="float: left; color: black;">Save capital for important projects:</b> </h4>
          <p style="font-size: 15px; text-align: left; color: black;"> &nbsp; With our flat rate IT and managed services,
            you’ll save cash every month that would have been otherwise used for your technology breakdowns.</p>
        </div>
        <div class="row">
          <h4> <b style="float: left; color: black;">Enjoy exemplary uptime:</b></h4>
          <p style="font-size: 15px; text-align: left; color: black;">&nbsp; Don’t worry about your network being down at awkward
            times anymore.
            With DattaTech 24/7 monitoring, you can trust your network will be running when you need it.</p>
        </div><br>
      </div>
    </div>

    <div class="col-sm-6" style="padding: 20px; padding-left: 40px;">
      <div class="row" id="testitwoDiv">
        <h2 class="home-heading" style="color: white;">Testimonials</h2>
      </div>
      <hr>
      <div class="row" style="padding-top: 25px;">
        <i style="font-size: 20px; color: black;"> “What I like about Datta Tech Consulting is the quick, personalized service we
          receive
          to solve whatever issues we might be experiencing. Whatever issue we have,
          we know when we call them, it will be solved. We are always left with the
          impression that they understand how important it is for the continuity of
          our business not to have any downtime on the system, and they treat us as
          a priority.”Quick Response Time Scale to any size: Our producst scale with you 
          where you are, and as you grow., where you are and as you grow</i>
      </div>
    </div>
  </div>

  <div class="row" style="padding: 20px; padding-top: 50px;">
    <div class="row" id='indsDiv'>
      <h2 style="text-align: center;"> <b>Industries We are dealing with</b></h2>
    </div>
    <div class="row" style="padding-top: 40px; margin-right: 0px; padding-left: 60px;">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <div class="row">
          <i class="fas fa-medkit fa-3x" style="float: left; color: #8c4b4a;"></i>
          <b style="font-size: 20px; float: left; position: relative;">
            <p style="margin-top: 15px;">&nbsp; &nbsp;Healthcare</p>
          </b>
        </div>
        <div class="row">
          <p class="indus-text">Ever since the digitization of patient health information (PHI), the effectiveness of
            IT solutions in healthcare organizations
            has markedly increased the quality of patient care. Today, the ability to serve the needs of patients
            depends heavily
            on the accessibility to and integrity of the data available... <a href="/services"><i>more</i></a> </p>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <div class="row">
          <i class="fas fa-university fa-3x" style="float: left; color: #8c4b4a;"></i>
          <b style="font-size: 20px; float: left; position: relative;">
            <p style="margin-top: 15px;">&nbsp; &nbsp;Auto dealership</p>
          </b>
        </div>
        <div class="row">
          <p class="indus-text">Automotive Dealers, Shops and Parts Retailers rely on their IT Systems to close deals,
            repair vehicles and ship parts.  Your team needs to stay operational 100% of the time - downtime is not an
            option.  Back-office matters such as IT can drain valuable time and resources away from what matters to
            your business... <a href="/services"><i>more</i></a> </p>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>

    <div class="row" style="padding-top: 40px; margin-right: 0px; padding-left: 60px;">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <div class="row">
          <i class="fas fa-sign fa-3x" style="float: left; color: #8c4b4a;"></i>
          <b style="font-size: 20px; float: left; position: relative;">
            <p style="margin-top: 15px;">&nbsp; &nbsp;Real Estate</p>
          </b>
        </div>
        <div class="row">
          <p class="indus-text">You rely on your devices to store confidential client data and share information with
            buyers,
            sellers, mortgage brokers, title companies, and others. Since you and your staff are always on the go, you
            need
            the best when it comes to smartphone and tablet support... <a href="/services"><i>more</i></a> </p>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <div class="row">
          <i class="fas fa-industry fa-3x" style="float: left; color: #8c4b4a;"></i>
          <b style="font-size: 20px; float: left; position: relative;">
            <p style="margin-top: 15px;">&nbsp; &nbsp;Manufacturing</p>
          </b>
        </div>
        <div class="row">
          <p class="indus-text">In today’s modern marketplace, manufacturing firms face significant challenges
            associated
            with rising costs, risky supply chains, and local/offshore competition that makes it difficult to achieve
            growth and success. We know despite the abundance of challenges you’re facing... <a
              href="/services"><i>more</i></a> </p>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>

  <div class="row" style=" background-color: #8c4b4a; padding: 40px; margin-right: 0px; color: wheat; font-style: italic;" id='uniqDiv'>
    <div class="col-sm-3">
      <img src="/img/logoUniqueIdea.jpeg" style="max-width:80%;">
    </div>
    <div class="col-sm-9 shake">
      <p style="font-size: 25px; padding-top: 50px;">DATTA Tech Consulting is a leading provider of powerful and
        affordable IT infrastructure management
        software. Our products give organizations worldwide, regardless of type, size, or IT infrastructure
        complexity, the power to monitor and manage the performance of their IT environments, whether on-
        premise, in the cloud, or in hybrid models.</p>
    </div>
  </div>

  <div class="row" style="background-color: white; padding: 40px;" id='contDiv'>
    <div class="col-xs-7">
      <div class="row" style="padding: 40px;">
        <h1 style="text-align: center;">Want to find out more about our technologies?</h1>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-6" style="padding-right: 0px;">
          <input type="text" placeholder="Insert Your Email">
        </div>
        <div class="col-xs-2" style="padding-top: 6px; padding-left: 0px;">
          <input type="submit" value="Register" style="background:#8c4b4a">
        </div>
      </div>
      <div class="row" style="font-size: 18px; padding-bottom: 30px;">
        <div class="col-xs-2"></div>
        <div class="col-xs-6">
          <p>Looking for help? <a href="/contact">Get in touch with us</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <img src="/img/getintouch.png" style="height: 280px; width: 100%;">
    </div>
  </div>

  <button class="open-button" onclick="openForm()">Reach Us Out</button>
  <div class="chat-popup" id="myForm">
    <form action="/submit" method="POST" class="form-container">
      <h1>Chat</h1>
      <input type="text" id="firstname" name="firstname" placeholder="Your name..">
      <input type="text" id="email" name="email" placeholder="Your Email..">
      <input type="text" id="phone" name="phone" placeholder="Your Phone..">
      <label for="msg"><b>Message</b></label>
      <textarea placeholder="Type message.." name="text" required></textarea>
  
      <button type="submit" class="btn">Send</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>


  </div>

</body>
<% include partials/footer %>
<% include partials/script %>

</html>
<script>
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) { myIndex = 1 }
    x[myIndex - 1].style.display = "block";
    setTimeout(carousel, 5000); // Change image every 2 seconds
  }

var waypoint = new Waypoint({
  element: document.getElementById('showMe'),
  handler: function(direction) {
    document.getElementById('servicesDiv').style.display='block';
    document.getElementById('servicesDiv').id="showMe";
    document.getElementById('testioneDiv').classList.add('move-right');
    document.getElementById('testitwoDiv').classList.add('move-right');
  }
})
var waypoint = new Waypoint({
  element: document.getElementById('testiDiv'),
  handler: function(direction) {
    document.getElementById('indsDiv').classList.add('slide-left');
    // document.getElementById('feedDiv').style.display='block';
    // document.getElementById('indsDiv').id="showMe";
    // document.getElementById('feedDiv').id="showMe";
  }
})
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>