<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><u><%= page %></u></h3><br>

  <div class="row" style="padding:287px">
    <div class="col-xs-12" style="font-size: 20px;">
        <%= msg %>
    </div>
</div>

</div>



</body>
<% include partials/footer %>
<% include partials/script %>
</html>