<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div id="main-div">

<div class="row" style="height: 45px;">
  <ul class="breadcrumb">
    <li style="color: black;">You are here:</li>
    <li><a href="/">Home</a></li>
   <li><a href="/services">Services</a></li>
  </ul>
</div>

<div class="container-fluid bg-3 text-center">    
  <div class="row" style="background-image: url(/img/itservice.jpg); height: 550px; background-size: cover;">
    <div class="col-xs-6" style="padding-left: 170px;">
      <div class="row" style="background-color: #292929;padding: 50px; height: 550px;">
        <h2 style="text-align: center; color: white; padding-top: 40px;"> Managed IT Services</h2>
        <p style="text-align: justify; color: white; padding-top: 40px; font-size: 18px;">We manage your IT environment as if we were your very own in-house IT staff. We take out all
          the frustration and worry of managing your own IT infrastructure. 
          Your organization benefits from reduced costs, 24/7 motioning and support, 
          increased productivity and enhanced customer service</p>
          <div class="row" style="padding-top: 40px; float: left;">
            <input type="submit" value="Contact us" onclick="openForm()">
          </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-bottom: 60px; background-color: white;">
    <div class="row slide-right" style="padding-top: 60px;" id="whoDiv">
      <h2 style="color: #8c4b4a; text-align: center;"> <b>Our approch to manage services</b></h2>
    </div>
    <div class="row" id="showMe">
      <h3 class="about-text"
        style="text-align: center; padding-right: 200px; padding-left: 200px; text-align: justify;">Technology is a critical 
        component to any business; it is the ideal launching pad for reaching goals, achieving success, and all-over improving
         the way you work. Technology is a critical component to any business; it is the ideal launching pad for reaching goals,
          achieving success, and all-over improving
          the way you work.<br><br> In order to get the most out of your IT investment, you need full access to innovative solutions, 
         comprehensive support, and strategic guidance that can help you truly take advantage of what technology has to offer. 
         In order to get the most out of your IT investment, you need full access to innovative solutions, 
         comprehensive support, and strategic guidance that can help you truly take advantage of what technology has to offer.
      </h3>
    </div>
    <div class="row" style="padding: 50px 178px 50px;" id="feedDiv">
      <div class="col-xs-12">
        <div class="column">
          <div class="card-bottom">
            <p><i class="fa fa-user"></i></p>
            <h3>11+</h3>
            <p>Partners</p>
          </div>
        </div>
        <div class="column">
          <div class="card-bottom">
            <p><i class="fa fa-check"></i></p>
            <h3>55+</h3>
            <p>Projects</p>
          </div>
        </div>
  
        <div class="column">
          <div class="card-bottom">
            <p><i class="fa fa-smile"></i></p>
            <h3>100+</h3>
            <p>Happy Clients</p>
          </div>
        </div>
  
        <div class="column">
          <div class="card-bottom">
            <p><i class="fa fa-coffee"></i></p>
            <h3>100+</h3>
            <p>Meetings</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 40px; background-color: aliceblue; padding-left: 30px; padding-right: 30px;">
      <div class="row" id="showMe" style="padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">
        <div class="col-xs-4" style="padding: 50px;">
          <div class="row">
            <h2 style="color: #8c4b4a;">Cloud Services</h2>
          </div>
          <div class="row" style="padding-top: 20px; font-size: 20px;">
            <p>These types of services can provide a way to increase capacity or add
               capabilities on the fly without having to invest in new infrastructures.
                They can provide flexibility and scalability and are fully customizable 
                to the needs of your business. However it’s not always a fit for everyone’s
                 IT support requirements.
            </p>
          </div>
        </div>
        <div class="col-xs-4" style="padding: 50px;">
          <div class="row">
            <h2 style="color: #8c4b4a;">IT Security</h2>
          </div>
          <div class="row" style="padding-top: 20px; font-size: 20px;">
            <p>These types of services can provide a way to increase capacity or add
               capabilities on the fly without having to invest in new infrastructures.
                They can provide flexibility and scalability and are fully customizable 
                to the needs of your business. However it’s not always a fit for everyone’s
                 IT support requirements.
            </p>
          </div>
        </div>
        <div class="col-xs-4" style="padding: 50px;">
          <div class="row">
            <h2 style="color: #8c4b4a;">Data Protection Service </h2>
          </div>
          <div class="row" style="padding-top: 20px; font-size: 20px;">
            <p>These types of services can provide a way to increase capacity or add
               capabilities on the fly without having to invest in new infrastructures.
                They can provide flexibility and scalability and are fully customizable 
                to the needs of your business. However it’s not always a fit for everyone’s
                 IT support requirements.
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
  
<div class="row"  style="margin-left: 0px; margin-right: 0px;">
  <div class="row" style="height: 450px;">
    <div class="col-xs-8 inner-divs" >
      <div class="row move-right">
        <h2 style="text-align: left;"> Remote Network Monitoring-as-a-Service</h2><br>
      </div>
      <div class="row">
        <p class="about-text">Partner with Datta Tech Consulting Canada to leverage an 
          enterprise-class server and network monitoring solution, with 24×7 reporting 
          and escalation capabilities.<br><br>
           Datta Tech Consulting provides a single point of
           interface for all elements of your network that require management in your 
           existing data center and a single dashboard for your entire IT environment. 
           When your business depends on a reliable and secure computing environment, 
           count on Datta Tech Consulting to identify the challenges, implement the 
           solutions, and provide ongoing monitoring and support.  <br><br></p>
      </div>
    </div>
    <div class="col-xs-3">
      <img src="/img/remote-access.gif" style="padding-top: 100px;">
    </div>
  </div>

  
  <div class="row" style="height: 550px; margin: 8px; margin-left: -27px; margin-right: -9px;">
    <div class="col-xs-4 inner-divs">
       <img src="/img/protection.gif" style="height: 450px; width: 135%; float: left;">
    </div>
    <div class="col-xs-7 inner-divs" style="float: right;">
      <div class="row move-left">
        <h2 style="text-align: left;"> Data Protection Service</h2>
      </div>
      <div class="row">
        <p class="about-text">Protect your Business Data with Datta Tech Consulting Fully 
          Managed Data Protection and Disaster Recovery Services.<br><br>
          Compromised or lost data is one of the most common ways in which organizations 
          experience loss. If organizations are unprepared or underprepared, then the 
          results of a data compromise can be devastating to it overall. One way you can 
          ensure your business infrastructure and critical systems are protected from malicious
           activity or unplanned downtime is through effective and proven data backup and data
            recovery solutions. In addition, with Datta Tech Consulting disaster recovery services,
             you can ensure your organization will be protected, no matter what, in the event of
              a crisis.</p>
      </div>
    </div>
  </div>


  <div class="row" style="height: 550px;">
    <div class="col-xs-7 inner-divs">
      <div class="row move-right">
        <h2 style="text-align: left;"> IT Security</h2>
      </div>
      <div class="row">
        <p class="about-text">Whether your business is large or small, 
          security is a critical element of your IT portfolio. The risks
           of a data breach, theft or sabotage of information is just too
            great not to ensure you’re protected. We can help.<br><br>
          Since we know how important your data security is to keeping you 
          in business, we’ve made it free and easy for you to assess potential
           risks. When you work with Datta Tech Consulting, we will first assess
            the integrity of your existing network so that we may discuss ways
             to make your network more secure and reliable. Talk to us about 
             what you would like technology to do for your business and we 
             will help your business goals become a reality.
          <br><br></p>
      </div>
    </div>
    <div class="col-xs-4 inner-divs">
       <img src="/img/IT-Security.gif" style="height: 450px; width: 135%;">
    </div>
  </div>

  <div class="row" style="height: 550px; margin: 8px; margin-left: -27px; margin-right: -9px;">
    <div class="col-xs-4" style="padding-left: 50px; padding-top: 45px;">
       <img src="/img/cloudcomputing.gif" style="height: 450px; width: 135%; float: left;">
    </div>
    <div class="col-xs-7 inner-divs" style="float: right;">
      <div class="row">
        <h2 style="text-align: left;">Cloud Services</h2>
      </div>
      <div class="row">
        <p class="about-text">What is cloud? Cloud is simply IT services
           that you can access over the internet which may include 
           applications or data storage.<br><br>
          These types of services can provide a way to increase capacity or 
          add capabilities on the fly without having to invest in new 
          infrastructures. They can provide flexibility and scalability 
          and are fully customizable to the needs of your business. However
           it’s not always a fit for everyone’s IT support requirements.</p>
      </div>
    </div>
  </div>
  
</div>

<div class="row" style="background-color: aliceblue; padding: 40px;" id='contDiv'>
  <div class="col-xs-7">
    <div class="row" style="padding: 40px;">
      <h1 style="text-align: center; color:#8c4b4a;">Newsletter</h1>
      <h4 style="text-align: center;">Stay up to date with our latest news and product</h4>
    </div>
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-6">
        <input type="text" placeholder="Insert Your Email">
      </div>
      <div class="col-xs-2" style="padding-top: 6px; padding-left: 0px;">
        <input type="submit" value="Subscribe" style="background:#8c4b4a">
      </div>
    </div>
    <div class="row" style="font-size: 18px; padding-bottom: 30px;">
      <div class="col-xs-2"></div>
      <div class="col-xs-6">
        <p style="text-align: end;">Your email is safe with us, we don't spam</p>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <img src="/img/getintouch.png" style="height: 280px; width: 100%;">
  </div>
</div>
</div>

<button class="open-button" onclick="openForm()">Reach Us Out</button>
<div class="chat-popup" id="myForm" style="background-color: #292929; margin-left: 300px; margin-right: 300px; margin-bottom: 100px;">
  <form action="/submit" method="POST" style="padding: 35px;">
    <div class="col-sm-12">
      <div class="col-sm-6 first">
        <label for="fname" style="color: white;">First Name</label>
        <input type="text" id="firstname" name="firstname" placeholder="Your name..">
      </div>
      <div class="col-sm-6 first" style="color: white;">
        <label for="lname">Last Name</label>
        <input type="text" id="lastname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-6 first" style="color: white;">
        <label for="fname">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email..">
      </div>
      <div class="col-sm-6 first" style="color: white;">
        <label for="lname">Phone</label>
        <input type="text" id="phone" name="phone" placeholder="Your phone..">
      </div>
    </div>
    <div class="col-sm-12">
      <label for="subject"style="color: white;" >Subject</label>
      <input type="text" id="subject" name="subject" placeholder="Your subject..">
    </div>
    <div class="col-sm-12">
      <label for="subject" style="color: white;">Message</label>
      <textarea id="text" name="text" placeholder="Write something.." style="height:200px"></textarea>
    </div>
  </form>
  <div class="row" style="padding-bottom: 20px; margin-left: 350px;">
    <input type="submit" value="SUBMIT">
    <input type="submit" value="Close" onclick="closeForm()">
  </div> 
</div>
</body>
<% include partials/footer %>
<% include partials/script %>
</html>

<script>
  function openForm() {
  document.getElementById("myForm").style.display = "block";
  document.getElementById('main-div').style.opacity='0.3'
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
  document.getElementById('main-div').style.opacity='1'
}
</script>