<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>

  <div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-5">
            <div class="row" style="padding: 43px;">
              <div class="col-sm-12 contact-us" style="color: cadetblue;">
                <h1>Contact Us</h1>
              </div>
              <div class="col-sm-12 contact-us">
                <h2>Looking for help? Fill the form and start a new adventure.</h2>
              </div>
              <div class="col-sm-12 contact-us">
                <div class="col-sm-12">
                  <p>
                    <span
                      style="font-size: 14px; font-weight: bold; letter-spacing: 2px; float: left; padding-bottom: 10px;">HEADQUARTERS</span>
                  </p>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-4 content-icon">
                    <i class="fusion-li-icon fa-home fas fa-2x font-icon"></i>
                  </div>
                  <div class="col-sm-8 content"> 136, BRADDOCK PRIVATE K2J 0E6, OTTAWA
                    ONTARIO, CANADA
                  </div>
                </div>
              </div>
              <div class="col-sm-12 contact-us">
                <div class="col-sm-12">
                  <p><span
                      style="font-size: 14px; font-weight: bold; letter-spacing: 2px; float: left; padding-bottom: 10px;">PHONE</span>
                  </p>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-4 content-icon">
                    <i class="fas fa-phone fa-2x font-icon"></i>
                  </div>
                  <div class="col-sm-8 content"> <div class="col-sm-12 contact-text">514-839-1313</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 contact-us">
                <div class="col-sm-12">
                  <p><span
                      style="font-size: 14px; font-weight: bold; letter-spacing: 2px; float: left; padding-bottom: 10px;">SUPPORT</span>
                  </p>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-4 content-icon">
                    <i class="fas fa-envelope fa-2x font-icon"></i>
                  </div>
                  <div class="col-sm-8 content"> <div class="col-sm-12" style="font-size: 16px;">dattatec_support@gmail.com</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <div class="col-sm-6" style="padding:287px; background-color: white;">
        <div style="font-size: 20px;">
            <%= msg %>
        </div>
      </div>
    </div>
  </div>
</body>
<% include partials/footer %>
<% include partials/script %>

</html>