<div class="col-sm-12 footer">
    <div class="row" style="padding-top: 50px;">
    <div class="col-sm-3">
        <div class="col-sm-12">
        <img src="/img/logo.jpeg" class="footer-img" >
        </div>
    </div>
    <div class="col-sm-3">
        <div class="col-sm-12">
            <h3 style="color: white;"> About DattaTech</h3><br><br>
        </div>
        <div class="col-sm-12">
            <div><a class="footer-font" style="color: white;"  href="/">Home</a></div><br>
            <div><a class="footer-font" style="color: white;" href="/about">About Us</a></div><br>
            <div><a class="footer-font" style="color: white;" href="/services">Services</a></div><br>
            <div><a class="footer-font" style="color: white;" href="/contact">Contact Us</a></div><br>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="col-sm-12">
            <h3 style="color: white;">Contact Us</h3><br><br>
        </div>
        <div class="col-sm-12">
            <p class="footer-font"> info@dattatechconsulting.com</p>
            <br>
            <p class="footer-font">Mon-Fri: 9:00 AM – 5:00 PM</p>
            <br>
            <p class="footer-font"> <i class="fas fa-phone fa-2x font-icon" style="float: left;  padding-right: 25px;"></i> 514-476-1208 </p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="col-sm-12">
            <h3 style="color: white;">Find Us</h3><br><br>
        </div>
        <div class="col-sm-12">
            <p class="footer-font">136, BRADDOCK PRIVATE </p>
            <p class="footer-font">K2J 0E6, OTTAWA ONTARIO</p>
            <p class="footer-font"> CANADA </p>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4 style="text-align: center; color: white;">@2020 Trademark.  All Right reserved</h4>
        </div>
        <div class="col-xs-6" style="text-align: right; margin-bottom: 10px;">
            <a href="https://www.facebook.com/datta.tc.7"><i class="fab fa-facebook-f fa-2x" style="margin: 0 20px 0;"></i></a>
            <a href="https://www.linkedin.com/in/dattatechconsulting/"><i class="fab fa-linkedin-in fa-2x" style="margin: 0 20px 0;"></i></a>
            <a href="https://twitter.com/tech_datta"><i class="fab fa-twitter fa-2x" style="margin: 0 20px 0;"></i></a>
            <a href=""><i class="fas fa-envelope fa-2x" style="margin: 0 20px 0;"></i></a>
        </div>
    </div>
    
</div>